/* Author: Diego Matta */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'sans-serif';
}

/* MAIN */
/* LOGO */
main {
    background-color: #f2f4f7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px
}

.logo-and-text {
    margin-bottom: 65px;
    
}

.logo-and-text img {
    display: block;
    margin-bottom: 20px;
    margin-left: -5px;
    
}

.logo-and-text p {
    font-size: 28px;
    width: 500px;
}

/* FORM */

form {
    background-color: white;
    padding: 16px 15px 24px;
    width: 396px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

form > * {
    width: 100%;
}

.form-and-text input {
    border: 1px solid rgb(221, 223, 226);
    border-radius: 6px;
    padding: 16px 15px;
    font-size: 17px;
    display: block;
}

.form-and-text input:focus {
    caret-color: #0866ff;
    border: 1px solid #0866ff;
    outline: none;
}

.form-and-text input::placeholder {
    color: rgba(136, 136, 136, 0.9);
}

.form-and-text input:focus::placeholder {
    color: rgba(136, 136, 136, 0.5);
}

.form-and-text button {
    display: block;
}

form > button, input {
    margin-bottom: 12px;
}

form .btn-login {
    background-color: rgb(8, 102, 255);
    font-weight: 700;
    line-height: 48px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

form .btn-login:hover {
    background-color: #1484fc; 
}

form a {
    color: #0866ff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: block;
}

form a:hover {
    text-decoration: underline;
} 

form hr {
    margin: 20px 0;
    height: 1px;
    background-color: #dadde1;
    border: 0;
}

form .btn-register {
    background-color: #42b72a;
    font-weight: 700;
    line-height: 48px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    width: 50%;
    text-align: center;
    margin: 0 auto 12px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

form .btn-register:hover {
    background-color: #2f971a; 
}

.form-and-text p {
    font-size: 14px;
    margin-top: 28px;
    width: 396px;
    text-align: center;
}

.form-and-text p a {
    text-decoration: none;
    color: #1C1E21;
    font-weight: 600;
}

/* FOOTER  */

footer {
    padding: 40px 180px;
}

footer a {
    font-size: 12px;
    color: #8A8D91;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 30px;
    height: 20px;
}

footer hr {
    background-color: #dddfe2;
    height: 1px;
    border: 0;
    margin: 8px 0;
}

.languages > :not(:first-child) {
    padding-left: 10px;
}

.informations > :not(:first-child) {
    padding-left: 20px;
}